/**
fileName    : style.less
writer      : **Input your name here**
reviewers   : **Input reviewers here**
*/
.boxName {
  display: inline-block;
  height: 100%;
  background-color: #70e177;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.border {
  display: inline-block;
  width: 200px;
  height: 20px;
  border: 0.5px solid #aaaaaa;
  border-radius: 4px;
  text-align: center;
  position: relative;
  background: transparent;
  z-index: 1000;
}
