.LoginForm {
  background: linear-gradient(to bottom, #0087DC, #0073BB);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.footerText {
  color: #fff;
  margin: 10px auto;
}
