/**
fileName    : style.less
writer      : **Input your name here**
reviewers   : **Input reviewers here**
*/
.precentBarWrap .precentBarBG {
  width: 100px;
  height: 10px;
  background: #ccc;
  border-radius: 5px;
  display: inline-block;
  text-align: left;
}
.precentBarWrap .precentBarLength {
  height: 10px;
  background: #108ee9;
  display: inline-block;
  border-radius: 5px;
}
.precentBarWrap .precentBarrate {
  padding-left: 10px;
}
