.labeling-list {
  background: #fff;

  h3 {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    padding: 0 20px;
    margin: 0;
    background: #F7F7F7;

    a {
      float: right;
      margin-left: 20px;
    }
  }
}
